<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Digital Signage</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/videos">Gerenciar Vídeos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/playlist">Criar Playlist</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
      <li class="nav-item">
        <a class="nav-link" href="#">  
          <%= usuario.usuario_nome %> <%= usuario.usuario_sobrenome %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/access/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>

<!--<img src="/img/users/default.png" width="22" height="22" class="d-inline-block align-top rounded-circle" alt="">-->