body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #292b2c;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 100px auto;
  text-align: center;
}

.title-login {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.form-signin input[type="password"], .form-signin input[type="text"] {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #292b2c;
  border-style: hidden;
  border-bottom: 1px solid white;
  /*border-top: thick double #ff0000;*/
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
}

