<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cortex - DS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/default.css">

  </head>
  <body>
    
    <%- include('elements/menu', {}); %>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/js/jquery.js"></script>
    <script src="/js/tether.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>